*{
    margin:0;
    padding:0;
}
body{
    background-color:white;
}
/* to define the properties of logo */
#logo{
    color: rgb(182, 26, 148);
    font-size: x-large;
    
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 600px;
    font-weight: bolder;
}
/* anchor tags */
a{
    margin-right: 80px;
    font-size: larger;
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
}
   
/* to define the navbar height */
#navbar{
    height: 150px;
    background-color: rgb(4, 4, 58);
    
}
#Welcome{
    height:400px ;
    color:whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
    background-color: rgb(126, 154, 187);
    
}

#home,#service,#about,#contact{
    height:400px ;
    color: black;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
}